html {
  font-size: 1rem;
  body {
    background-image: url("../images/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    #app {
      .card {
        background: linear-gradient(to right, #d53369, #cbad6d);
        width: 27rem;
        height: 15rem;
        animation: card-ani 3s infinite;
        .card-chip {
          width: 4rem;
          height: 2.7rem;
        }
        .card-number {
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
        .card-bottom {
          transform: translateY(-2rem);
          .card-exp {
            transform: translateX(-2rem);
          }
        }
      }
      form {
        width: 30rem;
        input {
          width: 5.6rem;
          &:focus {
            outline: none;
          }
        }
      }
    }
  }
}
// Small devices  (tablets, 576px and down)
@media only screen and (max-width: 576px) {
  .card {
    width: 17rem !important;
    height: 10rem !important;
    .card-chip {
      width: 3rem !important;
      height: 2rem !important;
    }
    h3 {
      font-size: 1rem;
    }
  }
  form {
    width: 20rem !important;
  }
}

// Extra Small devices (tablets, 320px and down)
@media only screen and (max-width: 320px) {
}
